body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  -webkit-backdrop-filter: blur(10px);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
*{
    user-select: none;
}
div{
    color: #000000;
}


div[name="menu-bar"] {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    div{
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
    }
}

div[name="menu-item"] {
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 1em;
    div{
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #9a9a9a;
    }
    .menu-link{
        text-align: center;
        margin: 0;
        padding: 0;
        &.selected{
            color: #ffffff;
        }
    }
}
